# Database (Neon Postgres)
DATABASE_URL="postgresql://user:password@host/db?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="your-secret-here-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# Resend (email)
RESEND_API_KEY="re_xxxxxx"
RESEND_FROM_EMAIL="quotes@visionbuildingtechs.com"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SUPERADMIN_EMAIL="simon@visionbuildingtechs.com"
SUPERADMIN_PASSWORD="ChangeMe123!"
