node_modules
.next
apps/web/.prisma
.env
.env.local
.env.*.local
dist
build
*.tsbuildinfo
.vercel
.turbo
prisma/migrations/dev

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode
.idea
*.swp
*.swo
